{{#if cartExist}}
  <div id={{cart._id}} class="cart">
    <h1>Carrito de compras</h1>
    {{#if productsInCart}}
      <div class="products">
        {{#each cart.products}}
          <div id={{this._id}}>
            <h2>{{this.product.title}}</h1>
              <p>{{this.quantity}} productos a ${{this.product.price}} c/u</p>
          </div>
        {{/each}}
      </div>
      <button id="buycart-button">Finalizar compra</button>
      {{else}}
      <p>No hay productos en el carrito</p>
    {{/if}}
  </div>
  {{else}}
  <h1>Cart not found</h1>
{{/if}}